.body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: auto;
    background-color: white;
}

.category_Panel {
    position: absolute;
    top: 10px;
    left: 5px;
    height: 100%;
    width: 15%;
}

.category_Block {
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-overflow: clip;
}

.category_Block hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

.project_Panel {
    position: absolute;
    right: 0;
    top: 10px;
    height: 100%;
    width: 82%;
}

.project_Block {
    display: inline-block;
    position: relative;
    height: 216px;
    width: 384px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project_Block img {
    width: 100%;
    height: 100%;
}

.project_Block_Overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 85%;
    width: 80%;
    background-color: rgba(255, 0, 0, 0.7);
    visibility: hidden;
}

.project_Block_Overlay h1, p {
    color: white;
    overflow: hidden;
}

.project_Block_Overlay h1 {
    font-size: 24px;
}

.project_Block_Overlay p {
    font-size: 15px;
}

.project_Block:hover .project_Block_Overlay{
    visibility: visible;
    cursor: pointer;
}