.body {
    font-family: 'Raleway';
    width: 100%;
    height: auto;
    background-color: white;
}

.category_Panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
}

.category_Block {
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-overflow: clip;
}

.category_Block a:hover {
    cursor: pointer;
}

.project_Panel {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 84%;
    background-color: red;
}

.project_Block {
    display: inline-block;
    height: 270px;
    width: 480px;
    position: relative;
}

.project_Block_Overlay {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 80%;
    width: 70%;
    background-color: red;
    display: hidden;
}