.body {
    width: 100%;
    height: auto;
    background-color: white;
}

.category_Panel {
    position: absolute;
    left: 0;
    height: 100%;
    width: 20%;
    background-color: blue;
}

.category_Block {
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
}

.project_Panel {
    height: 100%;
    width: auto;
    background-color: red;
    position: absolute;
}

.project {

}

.project_Overlay {

}